html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  margin: 0 auto 1.5rem;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

h2 {
  margin: 1.5rem;
  display: block;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  margin: 1em;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards li {
  display: inline-block;
  margin: 0;
  max-width: 20em;
  padding: 1em;
  background-color: #fff;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  text-align: left;
}

.cards img {
  display: block;
  margin: 0 auto 1rem;
  width: 100px;
}

.cards h3 {
  display: block;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.cards div {
  text-align: center;
}

.cards .btn-small {
  display: inline-block;
  padding: .5em .75em;
  background-color: #333;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.btn {
  background-color: #333;
  border-radius: 4px;
  color: #fff;
}

.btn-small {
  font-size: .875rem;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: left;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.cards .btn-small:hover {
  background-color: #000;
  color: #fff;
}

.author {
  font-style: italic;
  margin: 0;
  font-size: .875rem;
  flex-grow: 0;
}

p {
  padding: 0;
  margin: 0 0 1.5rem;
  display: inline-block;
  vertical-align: middle;
  flex-grow: 0;
}

li:nth-child(1) {
  background-color: #e2e2e2;
  width: 25%;
}

li:nth-child(2) {
  background-color: #ccc;
  width: 25%;
}

li:nth-child(3) {
  background-color: #aaa;
  width: 25%;
}

li:nth-child(4) {
  background-color: #999;
  width: 25%;
}
