html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

h2 {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
}

img {
  display:block;
  width: 100px;
}
.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards li {
  display: inline-block;
  margin: 0;
  max-width: 20em;
  padding: 1em;
  background-color: #fff;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  text-align: left;
}

.cards img {
  display: block;
  margin: 0 auto 1rem;
}

.cards h3 {
  display: block;
  margin: 0;
}

.cards div {
  text-align: center;
}

.cards a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #333;
  border-radius: 4px;
  color: #ccc;
  text-decoration: none;
}

.cards a:hover {
  background-color: #000;
  color: #fff;
}

.author {
  font-style: italic;
  margin: 0;
}

li:nth-child(1) {
  background-color: #e2e2e2;
}

li:nth-child(2) {
  background-color: #ccc;
}

li:nth-child(3) {
  background-color: #aaa;
}

li:nth-child(4) {
  background-color: #999;
}
